
body {
    background-color: black;
    color: whitesmoke;
}

#cmd__line {
    width: auto;
    height: 1em;
    background-color: inherit;
    color: inherit;
    border: none;
}

@media (max-width: 640px) {
    .cmd__in {
        display: none;
    }
    .cmd__in__mobile {
        display: block;
    }
}