
body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

#cmd__line {
    width: auto;
    height: 1em;
    background-color: inherit;
    color: inherit;
    border: none;
}

.cmd__in__mobile {
    display: none;
}
.cmd__in__mobile button {
    font-size: 1.5em;
    padding: 4px;
}

@media (max-width: 640px) {
    .cmd__in {
        display: none;
    }
    .cmd__in__mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}